
body { 
	margin:0; 
	padding:0; 
	background:#111; 
	color:#fdf5d4; 
	font-family: Georgia, serif; 
  }
header { 
	text-align:center; 
	padding:20px; 
	background:#222; 
	font-size:1.5rem; 
	border-bottom: 2px solid gold; 
  }
 nav { 
	display:flex; 
	justify-content:center; 
	gap:30px; 
	background:#1a1a1a; 
	padding:15px; 
	border-bottom:1px solid gold; 
  }
 nav a { 
	color:gold; 
	text-decoration:none; 
	font-weight:bold; 
  }
 .wrap { 
	display:grid; 
	grid-template-columns: 1fr !important; 
	gap:20px; 
	padding:15px; 
  }
 .product { 
	background:#1b1b1b; 
	padding:20px; 
	border:1px solid gold; 
	border-radius:10px; 
	text-align:center;
  }
 .product img { 
	width:90%; 
  }
 .buy { 
	margin-top:10px; 
	padding:12px 15px; 
	background:gold; 
	color:#000; 
	border:none; 
	cursor:pointer; 
	font-weight:bold; 
	border-radius:8px; 
	width:100%; 
  }
 #cartPanel { 
	position:fixed; 
	top:0; right:0; width:320px; height:100%; 
	background:#222; 
	color:white; 
	border-left:2px solid gold; 
	padding:20px; display:none; 
	flex-direction:column; }
 .cart-item { 
	border-bottom:1px solid #444; 
	padding:10px 0; 
  }
 .checkout { 
	margin-top:auto; 
  }
 .btnSmall { 
	padding:10px;
	width:100%; 
	background:gold; 
	border:none; 
	border-radius:8px; 
	font-weight:bold; 
	cursor:pointer; 
  }
 footer { 
	text-align:center; 
	background:#222; 
	padding:25px; 
	border-top:2px solid gold; 
	margin-top:20px; 
  }
 /* .c1 { width: 300px !important;
        height: auto !important;}
 .c2 { width: 360px !important;
        height: auto !important}
 .c3 { width: 380px !important;
	height: auto !important} */







